html {
    overflow-y: scroll;
}

body {
    font-family: "Roboto", sans-serif;
}
header {
    background-color: #fff;
    padding: 15px 0px;
}
p {
    font-weight: normal;
    text-align: justify !important;
    line-height: 1.8;
}
.menu-list {
    display: flex;
    justify-content: right;
    list-style: none;
    float: right;
}
.menu-list a {
    padding: 5px 15px;
    color: #212121;
    text-decoration: none;
}
.menu-list a.research-button {
    background-color: #ffd832;
    border-radius: 15px;
    color: #3e281a !important;
}
.research-sec {
    background-color: #ffd832;
    border-radius: 20px;
    color: #212121;
    padding: 7px 25px;
    text-decoration: none;
    width: fit-content;
    margin-bottom: 10px !important;
}
.header-bg-button {
    padding: 10px 35px;
    background-color: #212121;
    color: #fff;
}
.header-bg {
    background-image: url("/img/sample_research-min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-img {
    padding: 10%;
    text-align: center;
}
.header-img svg {
    height: 50vh;
}
.snap-title {
    padding: 20% 0;
}
.snap-title h1 {
    font-weight: bold;
    font-size: 72px;
}
.snap-title p {
    font-size: 22px;
    color: #fff;
}
.snap-title a {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}
.what-we-do-card {
    padding: 10%;
    background-color: rgba(0, 0, 0, 0.05);
    min-height: 290px;
    max-height: 290px;
}
.what-we-do-card p {
    margin-bottom: 30px;
    font-size: 0.8rem;
}
.what-we-do-card a {
    text-decoration: none;
    font-weight: lighter;
}
.what-we-do-card h3 {
    font-weight: normal;
}
.small-border {
    width: 20%;
    border-bottom: 2px solid #212121;
    margin-bottom: 20px;
}
.sample-research-image {
    height: 100%;
    width: 100%;
    background-image: url("/img/sample_research_pic.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    overflow: hidden;
}
.sample-research-list {
    /*list-style-image: url('/img/check-all.svg');*/
    font-weight: normal;
    list-style: none;
}
.sample-research-list li {
    padding-bottom: 10px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.125);
    margin-bottom: 5px;
}
.yellow-marker {
    border-bottom: 2px solid #ffd832;
    width: 30%;
    margin: 20px auto;
}
#thepeople .left-side {
    background-color: #3e281a;
}
#thepeople .right-side {
    background-color: #f6d240;
}
.left-side p {
    color: #f6d240;
}
.left-side h1 {
    color: #fff;
}
.left-circle svg {
    height: 50px;
    fill: #3e281a;
}
.left-circle {
    background-color: #fff;
    padding: 30px;
    border-radius: 100px;
    width: fit-content;
}
.right-circle {
    background-color: #f6d240;
    padding: 30px;
    border-radius: 100px;
    width: fit-content;
    margin: 0 auto;
}
.right-circle svg {
    height: 50px;
    fill: #3e281a;
}
.white-section {
    /* background-color: #fff; */
    background-color: #f6d240;
    color: #3e281a;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
    margin-bottom: 15px;
}
.brown-section {
    background-color: #3e281a;
    color: #fff;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
    margin-bottom: 15px;
}
.white-section svg {
    height: 50px;
    fill: #3e281a;
    margin-bottom: 5px;
}
.white-section a {
    color: #3e281a;
    text-decoration: none;
}
.brown-section a {
    color: #ffd832;
    text-decoration: none;
}
.brown-section svg {
    height: 50px;
    fill: #ffd832;
    margin-bottom: 5px;
}
.brown-bg {
    background-color: #402b1b;
}
.call-to-action a {
    padding: 15px 50px;
    background-color: #ffd832;
    color: #3e281a;
    border-radius: 30px;
    text-decoration: none;
}

.copyright-section {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.inline-list {
    display: flex;
    justify-content: right;
    list-style: none;
}
.inline-list a {
    text-decoration: none;
    color: unset;
}
.inline-list li {
    margin-right: 20px;
    margin-top: 1rem;
}
.marg {
    margin-top: 1rem;
}

#aboutsection {
    padding: 50px 0px;
}
.text-yellow {
    color: #ffd832;
}

.text-grey {
    color: #444;
}

.text-main {
    color: #632423;
    font-weight: bold;
}

.about-image {
    height: 100%;
    width: 100%;
    background-image: url("/img/about.jpeg");
    background-position: center;
    background-size: cover;
}
#contactsection {
    padding: 50px 0px;
}
.contact-form {
    height: 100%;
    width: 100%;
    border: 0px;
}
.team-wrap {
    border: 0px;
    height: 100%;
    border-radius: 20px;
}
.yellow-bg {
    background-color: #f6d141;
}
.team-wrap h6 {
}

.title-sec {
    color: #f6d141;
}
.overflow-sec {
    height: 100px;
}
.team-wrap p {
    font-size: 0.9rem;
}
#team-top-section .container {
    margin-top: -100px;
}
.small-text {
    font-size: 13px;
}
.header .dropdown-item {
    font-size: 16px;
}
.dropdown-menu {
    border: 0px;
}
.light-brown {
    color: #402b1b;
}

.brown-bg {
    background-color: #402b1b;
}

.contact-form input {
    border-color: #a56021;
}
.contact-form textarea {
    border-color: #a56021;
}
.what-we-do-card a {
    font-size: 12px;
    color: #fff;
    background-color: #402b1b;
    padding: 8px 15px;
    border-radius: 15px;
}
.what-we-do-card svg {
}
.sample-research-list a {
    color: #cf5a00;
    font-size: 13px;
}
.sample-research-list a:hover {
    color: #3e281a;
}
.sample-research-list img {
    padding: 3px;
    background-color: #f6d240;
    border-radius: 15px;
    margin-right: 5px;
}

#map_footer {
    width: 100%;
    height: 300px;
}
.gmap_canvas {
    width: 100%;
    height: 300px;
}

.footer_list a {
    color: rgba(255, 255, 255, 0.8) !important;
    text-decoration: none;
    font-size: 13px;
}
.footer_list li {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    margin-bottom: 5px;
}
.footer_text {
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 13px;
}
.footer_list a:hover {
    color: #f6d240 !important;
}
.footer_list {
    list-style: none;
    padding-left: 0px;
    padding-right: 20px;
}
.icon-section {
    width: 10%;
}
.contact-list {
    display: flex;
    justify-content: left;
}
.icon-section svg {
    fill: #ffd832;
    /*	height: 
*/
}
.services-font p,
.services-font li {
    font-size: 16px !important;
    line-height: 2;
}
.core-value-icon svg {
    fill: #402b1b;
}
.core-value-icon {
    padding: 20px;
    border-radius: 999px;
    background-color: #ffd832;
    width: fit-content;
}
.sample-research {
    border-radius: 5px;
    background: #ebebeb;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 15px;
}
.sample-research h1 {
    color: #402b1b;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 700;
}
.published {
    text-align: right;
    text-transform: inherit;
    font-style: italic;
}

.p-10 {
    padding: 10px !important;
}

.pb-8 {
    padding-bottom: 8px !important;
}

.sub-people {
    color: #f6d240;
    text-align: center;
}

.people {
    font-size: 24px;
    text-align: center;
    color: #fff;
}

.sample-data-card {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
}

.sample-data-card a {
    font-size: 12px;
    color: #fff;
    background-color: #402b1b;
    padding: 8px 15px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: lighter;
    display: inline-block;
    margin-top: 10px;
}

.sample-data-card h4 {
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    body {
    }

    .snap-title {
        padding: 20% 0;
    }
    .snap-title h1 {
        font-weight: bold;
        font-size: 40px;
    }
    .snap-title p {
        font-size: 15px;
        color: #fff;
        text-align: left;
    }

    .header-bg-button {
        padding: 10px 35px;
        background-color: #212121;
        color: #fff;
    }
    .header-bg {
        background-image: url("/img/sample_research-min.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header-img {
        padding: 10%;
        text-align: center;
    }
    .header-img svg {
        height: 50vh;
    }
    .header-bg {
        height: 310px;
    }
}

.what-we-do-card {
    margin-top: 15px;
}
.sample-data-card {
    margin-top: 15px;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid #dee2e6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #ffd832;
    border-color: #dee2e6 #dee2e6;
}

.pop-sr {
    box-sizing: content-box;
    width: 1em;
    height: 1.5em;
    padding: 2px 5px;
    background: #402b1b;
    color: #fff !important;
    border: 0;
    border-radius: 0.25rem;
    font-size: 20px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #495057;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

.stats-menu {
    background-image: linear-gradient(#402b1b, #fff);
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .menu-list .nav-item {
        padding-bottom: 8px;
    }

    .menu-list .custom_button_yellow {
        padding: 10px 0px;
    }

    .navbar-expand-lg .navbar-collapse {
        float: left;
    }

    .menu-list {
        float: left;
    }

    .visit-us {
        margin-top: 1rem !important;
    }

    .stats-menu {
        margin-top: 0px;
        background: #402b1b;
        border-radius: 10px;
        margin-top: 10px;
    }

    .min-vh-100 {
        min-height: 100% !important;
    }

    .menu-items-mobi {
        margin-top: 60px;
        border-top: 1px solid #bbb;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
        flex-basis: auto;
    }
}

.filter-button {
    float: right;
    margin: 10px 10px 0px 0px;
    background: #402b1b;
    border-color: #402b1b;
    font-size: 14px;
}

.report-buttons {
    float: left;
    margin: 10px 10px 0px 0px;
    background: #402b1b;
    border-color: #402b1b;
    font-size: 14px;
}

.btn-primary:hover {
    color: #402b1b;
    background-color: #ffd832;
    border-color: #ffd832;
}

.btn-primary:active {
    color: #402b1b;
    background-color: #ffd832;
    border-color: #ffd832;
}

.accordion-item {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
}

.accordion-item:last-of-type {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
}

.active-year {
    color: #402b1b !important;
    background-color: #ffd832 !important;
    border-color: #ffd832 !important;
}

.btn-primary:focus {
    color: #402b1b;
    background-color: #ffd832;
    border-color: #ffd832;
    box-shadow: none;
}

.graph-border {
    border-bottom: 1px solid #dee2e6;
}

ul.accordion {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    list-style-type: none;
}

.accordion {
    width: 100%;
    background: #f7c894;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.register-pl {
    color: #fe7c00;
    text-decoration: none;
    font-size: 0.9rem;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #402b1b;
}

.read-more-profile {
    background: #402b1b;
    color: #fff;
}

.team-sp {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-bottom: 10px;
}

button.read-more-profile:hover {
    color: #ffd832;
}

.accordion-link {
    text-decoration: none;
    color: #555;
    text-transform: capitalize;
}

.menu-reports li {
    padding: 0px 0px 15px 0px;
}

a.accordion-link:hover {
    text-decoration: none;
    color: #632423;
}

.accordion-button:not(.collapsed) {
    color: #555;
    background-color: #f5f5f5;
    box-shadow: none;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #f5f5f5;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        border-radius 0.15s ease;
}

.accordion-item:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #f5f5f5;
    outline: 0;
    box-shadow: none;
}

.p-15 {
    padding-left: 15px !important;
}

.submenu {
    display: none;
    background: #fff;
    font-size: 0.8rem;
}

.box-header {
    font-size: 24px !important;
    color: #402b1b !important;
    text-align: center !important;
    font-weight: 500;
}

.contact-hd {
    margin-bottom: 1rem !important;
}

.mt-years {
    position: fixed;
    top: 75px;
    right: 0;
    left: 0;
    z-index: 1030;
}

.mt-75 {
    margin-top: 75px;
}

select {
    background-color: #fffefd;
    border: solid 1px #f15922;
    color: #000;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 20px;
    padding-right: 20px;
}
.custom-selectbox {
    position: relative;
    display: inline-block;
    width: 100%;
}
.custom-selectbox:after {
    content: " ";
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #632423;
    position: absolute;
    right: 6px;
    top: 8px;
    transition: all 0.3s linear;
}
.custom-selectbox.open:after {
    transform: rotate(-180deg);
}

.p-rep-3 {
    margin-left: 1rem !important;
    border: 1px solid #ddd;
    background: #f5f5f5;
    font-size: 0.7rem;
}

.primary-color {
    color: #632423;
}

.custom-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border-bottom: 1px solid #ced4da;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin: 7px 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    height: 35px;
}

.search-txt {
    width: 220px;
}
.float-right {
    float: right !important;
}

.search-bt {
    color: #fff;
    background: #141e28;
    border: 1px solid #141e28;
    margin-left: 10px;
    margin-top: 7px;
    padding: 6px 15px;
}

.btn:hover {
    color: #806c19;
    text-decoration: none;
}

.edit-butts {
    text-align: right;
}

a {
    color: #3490dc;
    text-decoration: none;
    background-color: transparent;
}

.cancel-bt {
    color: #fff;
    background: #b31500;
    border: 1px solid #b31500;
    margin-left: 10px;
    margin-top: 0px;
    padding: 5px 15px;
}

.btn-secondary {
    color: #fff;
    background-color: #f78b05;
    border-color: #f78b05;
}

.btn-add {
    float: right;
    padding: 3px 10px;
    background: #402b1b;
    color: #fff;
    border-radius: 2px;
    font-size: 13px;
}

.btn-primary {
    color: #fff;
    background-color: #402b1b;
    border-color: #402b1b;
}

.m-15 {
    margin: 15px;
}

.btn-link {
    font-weight: 400;
    color: #fe9900;
    text-decoration: none;
}

#toast-container .toast-success {
    background-color: #d9872a;
}

#toast-container .toast-failure {
    background-color: #ba2a07;
}

.no-border {
    border: none;
}

.alert {
    position: relative;
    padding: 0.3rem 0.3rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.bt-close {
    width: 0.5em;
    height: 0.5em;
    float: right;
}

.t-header {
    background: #ccc;
    color: #402b1b;
    padding: 2px 0px;
}

.t-content {
    padding: 3px 0px;
    border-top: 1px solid #ccc;
}

.t-content:nth-child(1) {
    border-top: none;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #402b1b;
    border-color: #402b1b;
}

.page-link {
    position: relative;
    display: block;
    color: #402b1b;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.asterisk {
    color: #db242a;
    font-size: 0.7rem;
}

.data-table {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.form-upload {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.selector {
    padding: 10px 0px;
    color: #F8951C;
}
